<div class="card">
    <h3 class="card-title">{{title}}</h3>
    <p class="card-description">{{description}}</p>
    <ul class="reviews-list">
        {{#each reviews}}
            <li class="reviews-item">{{this}}</li>
        {{/each}}
    </ul>
</div>